@import url('./fonts.css');
@import url('./colors.css');

:root {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

body {
  margin: 0;
  background: var(--neutral-50);
  color: var(--neutral-800);
}

button,
input,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
}
